@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

*{
    padding: 0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Acme',sans-serif;
}

.container2{
    font-family: cursive;
    
}

nav{
    background: #e60073;
    height: 80px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 40px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
    
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

 nav ul li a{
    color: white;
    font-size:20px;
    text-transform: uppercase;
     margin: 30px;
     text-align: center;
}
.container3{
    margin-top: 70px;
    margin-left: 230px;
    font-size: 35px;
    font-style: normal;
    color: black;
}
.container4
{
    margin-top:150px;
    font-size: 25px;
    background: #e60073;
    color: white;
    padding: 10px;
}
.container5
{
    margin-top:20px;
    font-size: 25px;
    background: #e60073;
    color: white;
    padding: 10px;
}




input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}



input[type=checkbox], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #e60073;
    margin-top: 10px;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=number],select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}



input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}





input[type=tel], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.acontainer2{
    background-color:#e60073;
    height: auto;
    width:500px;
    align-content: center;
    text-align: center;
    color: white;
    font-family: cursive;
    margin-top: 30px;
    margin-left: 448px;
    padding: 20px;
    font-size: 20px;
    border-radius: 2px;
}

.acontainer3{
    background-color: #F3A8BE;
    margin-top: 300px;
    height:auto;
    width:500px;
    align-content: center;
    margin: auto;
    padding:20px;
    margin-bottom: 30px;
    
    
}

.container6
{
    align-content: center;
    padding 20px;
    margin-left: 40px;
}

.container8
{
    margin-top: none;
}

